@import url('https://fonts.googleapis.com/css2?family=Rubik:&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {scroll-behavior: smooth;}

.welcome .splash {
    height: 0px;
    padding: 0px;
    border: 150em solid #23d56d;
    position: fixed;
    left: 50%;
    top: 100%;
    display: flex;
    justify-content: center;
    box-sizing: initial;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards, behind 0s 3s forwards;
}
  
.welcome #welcome {
    background: white;
    width: 62px;
    height: 62px;
    position: fixed;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
}
     
/* moveIn */ 
.welcome header,
.welcome a.btn {opacity: 0; animation: moveIn 2s 3.1s ease forwards;}

@keyframes behind {
    from {z-index: 1;}
    to {z-index: -1; visibility: hidden;}
}

@keyframes init {
    0% {width: 0px; height: 0px;}
    100% {width: 62px; height: 62px; margin-top: 0px; opacity: 1;}
}
  
@keyframes puff {
    0% {top: 100%; height: 0px; padding: 0px;}
    100% {top: 50%; height: 100%; padding: 0px 100%;}
}
  
@keyframes borderRadius {
    0% {border-radius: 50%;}
    100% {border-radius: 0px;}
}

@keyframes behind {
    0% {z-index: 1;}
    100% {z-index: -1;}
}
  
@keyframes moveDown {
    0% {top: 50%;}
    50% {top: 40%;}
    100% {top: 100%;}
}
  
@keyframes moveUp {
    0% {background: #311b92; top: 100%;}
    50% {top: 40%;}
    100% {top: 50%; background: #039be5;}
}
  
@keyframes materia {
    0% {background: #039be5;}
    50% {background: #039be5; top: 26px;}
    100% {background: #311b92; width: 100%; height: 64px; border-radius: 0px; top: 26px;}
}
  
@keyframes moveIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
  
@keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.nav{
    position: fixed;
    width: 100%;
    top: 0;
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #2B2B2B;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:14px;
    padding-left: 30px;
    padding-right: 30px;
}

a:hover {
    background: linear-gradient(45deg, #23d56d, #23a6d5);
    color: black;   
}

.navlink {
    text-decoration: none;
    font-family: "Rubik";
    font-size: 1.6em;
    color: white;
}

#top-section {
    width: 100%;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #23d56d, #23a6d5, #7128d1, #23a6d5, #23d56d);
    background-size: 300% 300%;
}

#middle-section {
    background-color: #ecf0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

#box {
    box-sizing: border-box;
    box-shadow:
        -10px -10px 30px #fff,
        10px 10px 30px #aeaec040;
    margin-left: 25%;
    margin-right: 25%;
}

#button-row {
    size: 4em;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ecf0f3;
}

#button {
    background-color: #ecf0f3;
    color: #23d56d;
    border: 4px solid #23d56d;
    width: 9em;
    height: 3.9em;
    font-family: "Rubik";
    font-size: 20px;
}   

#button:hover {
    background: linear-gradient(45deg, #23d56d, #23a6d5);
    border: none;
    color: white;
}

#lower-section {
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: #2B2B2B;
    color: white;

}

h1 {
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 5.3em;
    height: 50px;
}

h2 {
    font-family: "Rubik", sans-serif;
    font-size: 3.7em;
    border-image: linear-gradient(to right, #23d56d, #23a6d5);
    border-image-slice: 1;
    border-width: 40%;
    border-bottom: 5px solid;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    text-indent: 10%;
    line-height: 1.9em;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;
}

h4 {
    font-family: sans-serif;
    font-size: 1em;
}

h5 {
    font-family: "Rubik", sans-serif;
    font-size: 3.7em;
    margin-top: 3%;
}
h6 {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 7.3em;
    color: white;
    position: fixed;
    top: 41.5%;
    left: 34.5%;
    z-index: 2;
    animation: behind 0s 1.8s forwards;
}

p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-size: 2em;
    margin-top: 50px;
}

footer {font-family: "Rubik";}

/* Device-specific styling ///////////////////////////////*/

/* MOBILE */
@media screen and (max-width:500px) {
    .nav {height: 3.3em;}

    .nav a {padding-top: 18px; padding-left: 6px; padding-right: 6px; font-size: 17px;}
    
    #top-section {padding-top: 1em; height: 33em; background: linear-gradient(45deg, #23d56d, #23a6d5, #7128d1);}
    
    img {width: 258px; height: 200px; padding-top: 60px;}

    h1 {font-size: 4em; text-align: center;}
    
    h2 {text-align: center; font-size: 2.7em; margin-bottom: 0; border-bottom: 4px solid;}
    
    h3 {margin-left: 5%; margin-right: 5%; font-size: 19px;}

    h5 {margin-top: 10%; font-size: 3em;}

    h6 {visibility: hidden;}

    #middle-section {padding-bottom: 5px; padding-top: 12px;}

    #button-row {flex-direction: column; height: 400px; padding-top: 0px; padding-bottom: 15px;}
    
    #button {width: 8em; height: 4em; font-size: 18px;}
    
    p {text-align: center; font-size: 1.5em;}
}

/* TABLET */
@media screen and (max-width:1370px) and (min-width:600px) {
    .navlink {font-size: 1.4em;}
    
    #top-section {padding-top: 1.1em; background: linear-gradient(45deg, #23d56d, #23a6d5, #7128d1);}

    h2 {margin-bottom: 0;}
    
    h3 {font-size: 1.3em; margin-left: 10%; margin-right: 10%;}

    h5 {margin-top: 6.5%;}
    
    h6 {visibility: hidden;}

    #button-row {padding-left: 0%; padding-right: 0%;}
}

/* LAPTOP+ */
@media screen and (min-width: 1400px) {
    #top-section {animation: gradient 13s ease infinite;}

    h2 {margin-bottom: 2%; margin-bottom: 5px;}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    }
}

@media screen and (min-width: 2000px) {
    h6 {top: 44.5%; left: 38.5%;}
}

@media screen and (min-width: 3000px) {
    h6 {top: 46%; left: 40%;}
}