@import url('https://fonts.googleapis.com/css2?family=Rubik:&display=swap');

html {
    scroll-behavior: smooth;
}

.nav{
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #2B2B2B;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

.navlink {
    text-decoration: none;
    font-family: "Rubik";
    font-size: 1.2em;
    color: white;
}

#top-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 60vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-row {
    size: 4em;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

#button {
    background-color: white;
    color: #3887eb;
    border: 3px solid #3887eb;
    width: 10em;
    height: 4em;
    font-family: "Rubik";
    font-size: 20px;
}   


#button:hover {
    background-color: #3887eb;
    border: none;
    color: white;
}

#lower-section {
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: #2B2B2B;
    color: white;
}

h1 {
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 5em;
    height: 50px;
}

h2 {
    font-family: "Rubik", sans-serif;
    font-size: 3em;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.9em;
}

h4 {
    font-family: sans-serif;
    font-size: 1em;
}

p {
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 2em;
    margin-top: 50px;
}

