@import url('https://fonts.googleapis.com/css2?family=Rubik:&display=swap');

header {
    display: flex;
    background-color: #2b2b2b;
    color: white;;
}

#top-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3887eb;
} 

#middle-section {
    height: 150px;
    display: flex;
    justify-content: center;
}

.button-row {
    size: 4em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 100px;
    padding-left: 500px;
    padding-right: 500px;
}

#button {
    background-color: white;
    border: 2px solid #111;
    width: 10em;
    height: 4em;
    font-family: "Rubik";
    font-size: 20px;
}   

#button:hover {
    background-color: #2b2b2b;
    color: white;
}

#lower-section {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #2B2B2B;
    color: white;
}

h1 {
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 4em;
    height: 50px;
}

h2 {
    font-family: "Rubik", sans-serif;
    font-size: 3em;
}

p {
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: italic;
    font-size: 2em;
    margin-top: 50px;
}

